{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

echo -e "<<< Begin Install Brew"

if [[ -z $(command -v brew) ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo -e ">>> Finish Install Brew"

{{- end }}
