{{- if and (not .is_nixos) (not .is_nix_on_droid) }}
#!{{ lookPath "fish" }}

echo ">>> Begin setup additional tools"

# Install tpm for tmux
if not test -d ~/.config/tmux/plugins/tpm
  echo "Installing tpm"
  git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm
  ~/.config/tmux/plugins/tpm/bin/install_plugins
end

echo "<<< End setup additional tools"
{{- end }}
