#!/bin/bash

set -eufo pipefail

echo -e "<<< Begin Install Packages"

packages=(
  # headless
  git
  tmux
  neovim
  starship
  zoxide
  thefuck
  fzf
  ripgrep
  fd
  node
  tlrc
  lf
  eza
  bitwarden-cli
  wakatime-cli
)

cask_packages=(
  wezterm
  raycast
  stats
  rectangle
  obsidian
  insomnia
)

{{ if (eq .chezmoi.os "darwin") -}}
  for package in ${packages[@]}; do
      if [[ -z $(brew ls --versions $package) ]]; then
	  brew install $package
      fi
  done

  # Install Nerd font if not exists
  FONT_FILE=/Users/$USER/Library/Fonts/JetBrainsMonoNerdFontPropo-ThinItalic.ttf
  [[ ! -f "$FONT_FILE" ]] && brew tap homebrew/cask-fonts && brew install --cask font-jetbrains-mono-nerd-font

  for package in ${cask_packages[@]}; do
      if [[ -z $(brew ls --versions --cask $package) ]]; then
          brew install --cask --force $package
      fi
  done
{{- else if (eq .chezmoi.os "linux") -}}
  # TODO: install packages for arch and ubuntu
{{- end }}

echo -e ">>> Finish Install Packages"
