{{ if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "archarm")) -}}
#!/bin/bash

set -eufo pipefail

echo -e "<<< Begin Install Packages"

packages=(
  curl
  openssh
  git
  make
  tmux
  starship
  npm
  neovim
  bat
  zoxide
  fzf
  ripgrep
  fd
  eza
  lazygit
  ttf-jetbrains-mono-nerd
  ttf-cascadia-code-nerd
  chezmoi
  yq
  yazi
  direnv
  jujutsu
  libnotify
  unzip
  btop
{{- if eq .window_manager "hyprland" }}
  # base
  wayland
  wlroots0.19
  pipewire
  wireplumber
  polkit
  mesa
  vulkan-intel

  hyprland
  uwsm
  xdg-desktop-portal-hyprland
  brightnessctl
  playerctl
  wlsunset
  waybar
  swaync
  wl-clipboard
  hyprpaper
  hypridle
  hyprpicker
  hyprpolkitagent
  hyprlock
  swayosd
  rofi-wayland
  rofi-calc
  acpi
  socat
  less
  jq
{{- end }}
{{   if or (not (index . "headless")) (not .headless) -}}
  kitty
{{   end -}}
)

aur_packages=(
  sesh-bin
  gitmux-bin
{{- if eq .window_manager "hyprland" }}
  hyprshot
  sway-audio-idle-inhibit-git
  clipse-bin
  zen-browser-bin
  rofi-power-menu
  ttf-rubik-vf
{{- end }}
)


echo "updating packages"
{{   if ne .chezmoi.username "root" -}}
sudo pacman -Syu --noconfirm
{{   else -}}
pacman -Syu --noconfirm
{{   end -}}

for package in ${packages[@]}; do
  if [ "$(pacman -Qq $package 2> /dev/null)" != $package ]; then
    echo "installing $package"
{{-   if ne .chezmoi.username "root" }}
    sudo pacman -S --noconfirm $package
{{-   else }}
    pacman -S --noconfirm $package
{{-   end }}
  fi
done

## Install paru
if [ ! $(command -v paru) ]; then
  echo "installing paru"
{{-   if ne .chezmoi.username "root" }}
  sudo pacman -S --needed --noconfirm git base-devel
{{-   else}}
  pacman -S --needed --noconfirm git base-devel
{{-   end }}
  git clone https://aur.archlinux.org/paru.git /tmp/paru
  cd /tmp/paru
  makepkg -si
  rm -rf /tmp/paru
fi

for aur_package in ${aur_packages[@]}; do
  if [ "$(pacman -Qq $aur_package 2> /dev/null)" != $aur_package ]; then
    echo "installing $aur_package from AUR"
    paru --noconfirm -S $aur_package
  fi
done

echo -e ">>> Finish Install Packages"
{{ end -}}
