{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

echo -e "<<< Begin Install Packages"

packages=(
  git
  tmux
  neovim
  starship
  zoxide
  fzf
  ripgrep
  fd
  node
  yarn
  tlrc
  eza
  bitwarden-cli
  wakatime-cli
  lazygit
  lazydocker
  bat
  chezmoi
  mas # app store cli
  joshmedeski/sesh/sesh
  yazi
  btop
)

cask_packages=(
  # wezterm
  alacritty
  raycast
  stats
  rectangle
  alt-tab
)

echo "Updating packages"
brew upgrade

for package in ${packages[@]}; do
    if [[ -z $(brew ls --versions $package) ]]; then
        brew install --overwrite $package
    fi
done

# Install Nerd font if not exists
FONT_FILE=/Users/$USER/Library/Fonts/JetBrainsMonoNerdFontPropo-ThinItalic.ttf
[[ ! -f "$FONT_FILE" ]] && brew install --cask font-jetbrains-mono-nerd-font

for package in ${cask_packages[@]}; do
    if [[ -z $(brew ls --versions --cask $package) ]]; then
        brew install --cask --force $package
    fi
done

echo -e ">>> Finish Install Packages"
{{- end }}
