#!/usr/bin/env bash
{{- if and (not .is_nixos) (not .is_nix_on_droid) }}

set -eufo pipefail

echo -e "<<< Begin Setting Up Fish Shell"

# Install fish
{{ if (eq .chezmoi.os "darwin") }}
	brew install fish
{{ else if (eq .chezmoi.os "linux") -}}
	{{ if (eq .chezmoi.osRelease.id "arch") -}}
		if [[ -z $(command -v fish) ]]; then
			sudo pacman -S --noconfirm fish
		fi
	{{ else if (eq .chezmoi.osRelease.id "ubuntu") -}}
		sudo apt install fish
	{{ end }}
{{ end }}

# Set fish as default
echo -e "Setting fish as default shell"
if [[ ! $(echo $SHELL) == $(which fish) ]]; then
    echo "fish is not main shell, making it main shell"
    
    {{ if (eq .chezmoi.os "darwin") -}}
        echo "/usr/local/bin/fish" | sudo tee -a /etc/shells
    {{ end }}

    chsh -s $(which fish)
fi

echo -e ">>> Finish Setting Up Fish Shell"

{{ end }}
