configuration {
 modi: "combi,calc,emoji,power:rofi-power-menu --confirm ''";
 combi-modi: "drun,power,themes:~/scripts/dmenu_themes";
 show-icons: true;
 terminal: "{{ .terminal }}";
 sort: true;
 sorting-method: "fzf";
 matching: "fuzzy";
 disable-history: false;
 normalize-match: true;
 drun-use-desktop-cache: true;
 drun-reload-desktop-cache: true;
 display-combi: "all";
 display-drun: "apps";
 display-themes: "themes";
 combi-hide-mode-prefix: true;
 kb-mode-next: "Super+bracketright,Ctrl+Tab";
 kb-mode-previous: "Super+bracketleft,Ctrl+Shift+Tab";
}
@theme "themes/kanagawa-wave.rasi"
