{{- $host := promptStringOnce . "host" "Enter host for this machine" -}}
{{- $baseProxy := promptStringOnce . "proxy" "Enter proxy server (format: http://proxy.example.com:port)" -}}
{{- $noProxy := promptStringOnce . "noProxy" "Enter no_proxy addresses (format: localhost,127.0.0.1,.local,.example.com)" -}}
{{- $enableProxyByDefault := promptBoolOnce . "enableProxy" "Enable proxy by default for terminal? If no, you can use it via proxy command" -}}
{{- $deepseekApiKey := promptStringOnce . "deepseekApiKey" "Enter deepseek api key, if needed" -}}
{{- $openrouterApiKey := promptStringOnce . "openrouterApiKey" "Enter openrouter.ai api key, if needed" -}}
{{- $isNixos := and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "nixos") -}}
{{- $isNixOnDroid := and (eq .chezmoi.os "linux") (eq .chezmoi.username "nix-on-droid") -}}

[data]
host = {{ $host | quote }}
window_manager = ""
browser = {{- if $isNixos -}}"zen"{{- else -}}"zen-browser"{{- end }}
file_manager = "nautilus"
is_nixos = {{ $isNixos }}
is_nix_on_droid = {{ $isNixOnDroid }}

[data.ai.deepseek]
api_key = {{ $deepseekApiKey | quote }}
[data.ai.openrouter]
api_key = {{ $openrouterApiKey | quote }}

[data.proxy]
enable = {{ $enableProxyByDefault }}
https = {{ $baseProxy | quote }}
http = {{ $baseProxy | quote }}
ftp = {{ $baseProxy | quote }}
no_proxy = {{ $noProxy | quote }}
