[user]
	name = Alexander Muratov
	email = muratoffalex@gmail.com
	signingKey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[commit]
	template = {{ .chezmoi.homeDir }}/.gitcommit-message
	gpgSign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
