# vim:ft=kitty

include light-theme.auto.conf

startup_session startup.conf

confirm_os_window_close 0
enable_audio_bell no
update_check_interval 0

font_family      CaskaydiaCove Nerd Font
bold_font        auto
italic_font      auto
bold_italic_font auto
disable_ligatures always
{{ if ne .chezmoi.os "darwin" }}
# Makes font bolder like in alacritty.
text_composition_strategy 1.7 0
# caskaydiacove some characters don't fit in the cell (e.g. `g`)
modify_font cell_height +1px
{{- else }}
text_composition_strategy 5.0 0
{{- end }}

{{ if eq .chezmoi.os "darwin" }}
font_size 20
{{- else }}
font_size 18
{{- end }}

cursor_shape block
cursor_blink_interval 0

initial_window_width  90c
initial_window_height 30c
window_padding_width 0
window_margin_width 0
hide_window_decorations {{ if eq .chezmoi.os "darwin" }}titlebar-only{{ else }}yes{{ end }}
dynamic_background_opacity yes

shell_integration enabled
# now use for zen-mode.nvim
allow_remote_control socket-only
listen_on unix:/tmp/kitty

# switch to last tmux session (ctrl+a L)
map cmd+l send_text all \x01\x4c
# open tmux session manager (ctrl+a K)
map cmd+k send_text all \x01\x4b

# change tmux window (ctrl+a <number>)
map alt+1 send_text all \x01\x31
map alt+2 send_text all \x01\x32
map alt+3 send_text all \x01\x33
map alt+4 send_text all \x01\x34
map alt+5 send_text all \x01\x35
map alt+6 send_text all \x01\x36
map alt+7 send_text all \x01\x37
map alt+8 send_text all \x01\x38
map alt+9 send_text all \x01\x39

{{ if eq .chezmoi.os "darwin" }}
macos_option_as_alt left
{{- end }}
