[ui]
editor = '{{ .editor }}'
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
default-command = 'log'
paginate = "never"

[git]
auto-local-bookmark = true
subprocess = true # allow from 0.26.0

[user]
name = "{{ .name }}"
email = "{{ .email }}"

[signing]
behavior = "own"
backend = "ssh"
key = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub"

[snapshot]
auto-update-stale = true # allow from 0.24.0
