[ui]
editor = '{{ .editor }}'
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
default-command = 'log'
pager = ["less", "-FRX"]

[git]
auto-local-bookmark = true

[user]
name = "{{ .name }}"
email = "{{ .email }}"

[signing]
behavior = "own"
backend = "ssh"
key = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub"

[snapshot]
auto-update-stale = true

[aliases]
cl = ['git', 'push', '-c', '@-']
sync = ['git', 'fetch', '--all-remotes']
evolve = ['rebase', '--skip-empty', '-d', 'main']
setmain = ["bookmark", "set", "main", "-r", "@-"]

[revset-aliases]
# ref: https://v5.chriskrycho.com/notes/jj-tip-rebase-all-branches-matching-a-revset/
wip = 'description(regex:"^(wip|WIP):?")'
