#!/bin/sh
{{ if (eq .chezmoi.os "darwin") }}
# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title Change theme
# @raycast.mode silent

# Optional parameters:
# @raycast.icon 🌓
# @raycast.argument1 { "type": "dropdown", "placeholder": "light/dark/transparent", "optional": true, "data": [{"title": "Dark", "value": "dark"},{"title": "Light", "value": "light"},{"title": "Transparent", "value": "transparent"}]}
# @raycast.argument2 { "type": "text", "placeholder": "system 0/1", "optional": true }
{{ end }}
# Toggle dark and light themes for tmux, alacritty and neovim
# https://shapeshed.com/vim-tmux-alacritty-theme-switcher/

THEME=$1
[[ -z "$2" ]] && CHANGE_SYSTEM_THEME=1 || CHANGE_SYSTEM_THEME=$2

LIGHTTHEME="tokyonight-day"
DARKTHEME="tokyonight-night"
TRANSPARENTTHEME="transparent"
VIMCONF="$HOME/.config/nvim/lua/config/init.lua"
ALACRITTYCONF="$HOME/.config/alacritty/alacritty.toml"
TMUXCONF="$HOME/.config/tmux/tmux.conf"
THEMEENV="theme"

{{ if (eq .chezmoi.os "darwin") }}
CURRENT_MODE=$(defaults read -g AppleInterfaceStyle 2> /dev/null)
{{ else if (eq .chezmoi.os "linux") -}}
CURRENT_MODE=$(gsettings get org.gnome.desktop.interface color-scheme)
{{ end }}

# prefer-dark for linux
if [ "$CURRENT_MODE" = "Dark" ] || [ "$CURRENT_MODE" = "prefer-dark" ]; then
  CURRENT_MODE='dark'
else
  CURRENT_MODE='light'
fi

change_vim_theme() {
  theme_for_vim_panes="$1"
  colorscheme=$DARKTHEME
  transparent="Disable"

  if [ "$theme_for_vim_panes" = "light" ]; then
    colorscheme=$LIGHTTHEME
  elif [ "$theme_for_vim_panes" = "transparent" ]; then
    transparent="Enable"
    theme_for_vim_panes="dark"
  fi

  tmux list-panes -a -F '#{pane_id} #{pane_current_command}' |
    grep vim |
    cut -d ' ' -f 1 |
    xargs -I PANE tmux send-keys -t PANE ESCAPE \
      ":set background=${theme_for_vim_panes}" ENTER \
      ":lua vim.cmd.colorscheme('${colorscheme}')" ENTER \
      ":Transparent${transparent}" ENTER
}

enable_dark_theme() {
  theme="dark"
  set_env $theme
  change_vim_theme $theme
  change_alacritty_theme $theme
  change_system_theme $theme
}

enable_light_theme() {
  theme="light"
  set_env $theme
  change_vim_theme $theme
  change_alacritty_theme $theme
  change_system_theme $theme
}

enable_transparent_theme() {
  # set dark theme because transparent theme is based on dark theme
  theme="dark"
  set_env $theme
  change_vim_theme "transparent"
  change_alacritty_theme "transparent"
}

set_env() {
  # set the environment variable across all sessions
  fish -c "set -e $THEMEENV && set -Ux theme $1"
}

change_alacritty_theme() {
  if [ "$1" = "dark" ]; then
    sed -E -i '' "s/${TRANSPARENTTHEME}|${LIGHTTHEME}/${DARKTHEME}/" "$ALACRITTYCONF"
  elif [ "$1" = "light" ]; then
    sed -E -i '' "s/${TRANSPARENTTHEME}|${DARKTHEME}/${LIGHTTHEME}/" "$ALACRITTYCONF"
  elif [ "$1" = "transparent" ]; then
    sed -E -i '' "s/${LIGHTTHEME}|${DARKTHEME}/${TRANSPARENTTHEME}/" "$ALACRITTYCONF"
  fi
}

change_system_theme() {
  # send a signal to the system to change the theme when
  # the CHANGE_SYSTEM_THEME var is set to 1 or empty and the THEME variable is set
  if [[ "$CHANGE_SYSTEM_THEME" = "1" && ! -z "$THEME" ]]; then
  {{ if (eq .chezmoi.os "darwin") }}
    dark=false
    [[ "$1" = "dark" ]] && dark=true
    osascript -l JavaScript -e "Application('System Events').appearancePreferences.darkMode = $dark" > /dev/null
  {{ else if (eq .chezmoi.os "linux") -}}
    theme='prefer-light'
    [[ "$1" = "dark" ]] && theme='prefer-dark'
    gsettings set org.gnome.desktop.interface color-scheme $theme
  {{ end }}
  fi
}

if [ -z "$THEME" ]; then
  if [ "$CURRENT_MODE" = "dark" ]; then
    enable_dark_theme
  else
    enable_light_theme
  fi
else 
  if [ "$THEME" = "dark" ]; then
    enable_dark_theme
  elif [ "$THEME" = "transparent" ]; then
    enable_transparent_theme
  else
    enable_light_theme
  fi
fi

if [[ "$CHANGE_SYSTEM_THEME" = "1" && ! -z "$THEME" ]]; then
  echo "System theme set to $THEME"
else  
  if [ -z "$THEME" ]; then
    THEME=$CURRENT_MODE
  fi
  echo "Theme set to $THEME"
fi

# disabled because current tmux style looks great with any theme
# tmux source-file "$TMUXCONF"
