#!/usr/bin/env bash

notify() {
    local id=$3
    local timeout=$4
    local timeout_arg=""
    
    if ! command -v notify-send >/dev/null 2>&1; then
        echo "[$1] $2" >&2
        echo ""
        return
    fi
    
    if [ -n "$timeout" ]; then
        timeout_arg="-t $timeout"
    fi
    
    if [ -n "$id" ]; then
        notify-send -r "$id" $timeout_arg "[BW] $1" "$2"
        echo "$id"
    else
        notify-send -p $timeout_arg "[BW] $1" "$2"
    fi
}

notification_id=""

master_password=$(wofi --height 10 --dmenu --password --pro mpt "Введите мастер-пароль: ")

if [ -z "$master_password" ]; then
		notify "Ошибка" "Пароль не введен" "" 1000
    exit 1
else
		notification_id=$(notify "Успех" "Загрузка списка элементов...") "" 10000
fi

# Разблокируем без синхронизации
BW_SESSION=$(echo "$master_password" | bw unlock --raw)

if [ $? -ne 0 ] || [ -z "$BW_SESSION" ]; then
    notify "Ошибка" "Неверный мастер-пароль" $notification_id 2000
    exit 1
fi
export BW_SESSION

items=$(bw list items --nointeraction)
if [ $? -ne 0 ] || [ -z "$items" ]; then
    notify "Ошибка" "Не удалось получить список элементов" $notification_id 2000
    exit 1
fi

selection=$(echo "$items" | jq -r '.[] | "\(.name) | \(.login.username) | \(.id)"' | wofi --dmenu -M fuzzy --prompt "Поиск:")

if [ -n "$selection" ]; then
    name=$(echo "$selection" | cut -d '|' -f1 | xargs)
    id=$(echo "$selection" | cut -d '|' -f3 | xargs)

		notification_id=$(notify "Загрузка" "Получение пароля для $name..." $notification_id 10000)

    password=$(bw get password "$id" --nointeraction)
    if [ $? -eq 0 ] && [ -n "$password" ]; then
        echo -n "$password" | wl-copy
				notify "Успех" "Пароль для $name скопирован в буфер обмена" $notification_id 3000
    else
        notify "Ошибка" "Не удалось получить пароль" $notification_id 2000
    fi
fi
