#!/usr/bin/env bash

sesh_connect() {
  sesh list --icons | fzf \
    --tmux='center,40%,60%' \
    --layout reverse \
    --no-sort \
    --ansi \
    --border-label ' sesh ' \
    --prompt '⚡  ' \
    --no-mouse \
    --info hidden \
    --no-separator \
    --border bold \
    --no-scrollbar \
    --header '  ^a all ^d tmux kill ^f find' \
    --bind change:top \
    --bind 'ctrl-a:change-prompt(⚡  )+reload(sesh list --icons)' \
    --bind 'ctrl-f:change-prompt(🔎  )+reload(fd -H -d 2 -t d -E .Trash . ~)' \
    --bind 'ctrl-d:execute(tmux kill-session -t {2..})+change-prompt(⚡  )+reload(sesh list --icons)'
}

selected=$(sesh_connect)
if [ -n "$selected" ]; then
  sesh connect "$selected"
fi
