#!/usr/bin/env bash

DEVICE="FE_8F_B0_57_66_89"

DEVICE_PATH=$(busctl tree org.bluez | grep -m1 "$DEVICE" | sed 's/^[^\/]*//' | head -n1)

if [[ -z "$DEVICE_PATH" ]]; then
  echo "Device not found"
  exit 1
fi

connected=$(busctl get-property org.bluez "$DEVICE_PATH" org.bluez.Device1 Connected 2>/dev/null | awk '{print $2}')
if [[ "$connected" != "true" ]]; then
    echo "󰹋 "
    exit 0
fi

BAT_CHAR_FIRST="${DEVICE_PATH}/service0010/char0011"
BAT_CHAR_SECOND="${DEVICE_PATH}/service0015/char0016"

get_value() {
    busctl call org.bluez $1 org.bluez.GattCharacteristic1 ReadValue "a{sv}" 0 | 
    awk '{print $NF}'
}

bat_level_left=$(get_value $BAT_CHAR_SECOND)
bat_level_right=$(get_value $BAT_CHAR_FIRST)

echo "$bat_level_left% 🦀 $bat_level_right%"
