## All conf in conf.d folder

## Load third-party tools
if type -q starship
  starship init fish | source
end

if type -q zoxide
  zoxide init fish | source
end

if type -q direnv
  direnv hook fish | source
end

if test -e ~/.nix-profile/etc/profile.d/nix.fish
    source ~/.nix-profile/etc/profile.d/nix.fish
end

## Load in end of the file, because nixos will overwrite it
if test -d $__fish_config_dir/custom_functions.d/override
  for file in $__fish_config_dir/custom_functions.d/override/*.fish
    source $file
  end
end
