[general]
import = ["~/.config/alacritty/themes/kanagawa-lotus.toml"]
live_config_reload = true

[terminal.shell]
args = ["-l", "-c", "session_manager"]
{{ if .is_nixos }}
program = "/run/current-system/sw/bin/fish"
{{- else }}
program = "/usr/local/bin/fish"
{{- end }}

[cursor]
style = "Block"
unfocused_hollow = false

[font]
# comfortable for fhd (14 inch), qhd
size = {{ if eq .chezmoi.os "darwin" }}24{{ else }}18{{ end }}

[font.normal]
family = "CaskaydiaCove Nerd Font"
style = "Regular"
[font.bold]
style = "Bold"
[font.italic]
style = "Italic"
[font.bold_italic]
style = "Bold Italic"

[window]
startup_mode = "Windowed"
decorations = {{ if eq .chezmoi.os "darwin" }}"Buttonless"{{ else }}"None"{{ end }}
dynamic_padding = false
# only for mac
option_as_alt = "OnlyLeft"

[window.padding]
x = 4
y = 3

[window.dimensions]
columns = 90
lines = 30

[colors]
draw_bold_text_with_bright_colors = false

[colors.cursor]
text = "CellBackground"
cursor = "CellForeground"

[keyboard]
bindings = [
  # open last session <Ctrl-a>L
  { key = "L", mods = "Command", chars = "\u0001\u004c" },
  # open sesh fzf <Ctrl-a>K
  { key = "K", mods = "Command", chars = "\u0001\u004b" },
]
