abbr v $EDITOR
abbr vr nvim -c ':RestoreSession'

abbr dev --set-cursor "cd {{ .dev_path }}/%"
abbr icloud --position anywhere "$HOME/Library/Mobile\ Documents/com~apple~CloudDocs/"

abbr se session_end

if type -q bob
  abbr bbun bob use nightly
  abbr bbus bob use stable
  abbr bbul bob use stable
  abbr bbu --set-cursor bob use '0.%'
  abbr bbi bob install
  abbr bbl bob ls
  abbr bblr bob ls-remote
end

if type -q brew
  abbr bi brew install
  abbr br brew remove
  abbr bu brew upgrade
end

if type -q jj
  abbr j jj
  abbr j5 jj log -n 5
  abbr jl jj log
  abbr jlha 'jj log -r "heads(all())"' # head of every anonymous/named branch/bookmark
  abbr jo jj op
  abbr ju jj undo
  abbr js jj st
  abbr jb jj bookmark
  abbr jbn jj bookmark new
  abbr jbt jj bookmark track
  abbr jbs jj bookmark set
  abbr jn jj new
  abbr jnb --set-cursor 'jj new -B @ -m "%"'
  abbr je jj edit
  abbr j- jj edit @-
  abbr j+ jj edit @+
  abbr jd jj desc
  abbr jdm --set-cursor 'jj desc -m "%"'
  abbr jdf jj diff
  abbr jc jj commit
  abbr jcm --set-cursor 'jj commit -m "%"'
  abbr jgp jj git push
  abbr jgf jj git fetch
  abbr ja jj abandon
  abbr jr jj rebase
  abbr jrr --set-cursor 'jj rebase -r % -d @'
  abbr jsq jj squash
  abbr jsqi jj squash -i
  abbr jgr jj git remote
end

if type -q chezmoi
    abbr chct  chezmoi chattr +template
    abbr che   chezmoi edit 
    abbr chea  chezmoi edit --apply 
    abbr cha   chezmoi apply 
    abbr chadd chezmoi add
    abbr chcd  chezmoi cd
    abbr chef  chezmoi edit --apply $FISH_CONFIG_PATH
end

if type -q gh
	abbr gce --set-cursor 'gh copilot explain "%"'
	abbr gcs --set-cursor 'gh copilot suggest -t shell "%"'
end

set -Ux TMUX_CONFIG_PATH $HOME/.config/tmux/tmux.conf
set -Ux NVIM_CONFIG_PATH $HOME/.config/nvim
set -Ux WEZTERM_CONFIG_PATH $HOME/.config/wezterm/wezterm.lua
set -Ux GIT_CONFIG_PATH $HOME/.gitconfig

if type -q chezmoi
  abbr chea 'chezmoi edit --apply'
  abbr etmux chea $TMUX_CONFIG_PATH
  abbr efish chea $FISH_CONFIG_PATH
  abbr ewez chea $WEZTERM_CONFIG_PATH
  abbr egit chea $GIT_CONFIG_PATH
else
  abbr etmux nvim $TMUX_CONFIG_PATH
  abbr efish nvim $FISH_CONFIG_PATH
  abbr ewez nvim $WEZTERM_CONFIG_PATH
  abbr egit nvim $GIT_CONFIG_PATH
end

if type -q git
  abbr ga git add
  abbr gap git add -p
  abbr gaa git add .
  abbr gc git commit
  abbr gcm --set-cursor 'git commit -m "%"'
  abbr gs git status
  abbr gp git push
  abbr gpl git pull
  abbr gco git checkout
  abbr gl git log
  abbr gb git branch
  abbr gd git diff
  abbr grs git restore --staged
end

if type -q tmux
  abbr tnew tmux new -s
  abbr tkill tmux kill-session -t
  abbr tls tmux ls
  abbr ta tmux attach -t
  abbr tks tmux kill-server
end

if type -q lazygit
  abbr lg lazygit
end

abbr --position anywhere fconf $FISH_CONFIG_PATH
abbr nvroot cd ~/.config/nvim
abbr uf "source $FISH_CONFIG_PATH && exec fish" # source full fish config

