# db clients, mainly for nvim dadbod
fish_add_path /usr/local/opt/mysql-client/bin
fish_add_path /usr/local/opt/libpq/bin
# macports
fish_add_path /opt/local/bin
# pipx, custom bin etc.
fish_add_path {{ .chezmoi.homeDir }}/.local/bin
fish_add_path $HOME/.local/share/bob/nvim-bin 
fish_add_path $HOME/go/bin
fish_add_path $HOME/.cargo/bin

# ruby
set -gx GEM_HOME $HOME/.gem
fish_add_path $GEM_HOME/bin
fish_add_path /usr/local/opt/ruby/bin

# custom bin/raycast scripts
fish_add_path  {{ .chezmoi.homeDir }}/scripts
