#nav-bar, #urlbar-background, #zen-sidebar-web-panel {
    background-color:  var(--lwt-accent-color) !important;
}

panel {
    /* background-color:  var(--lwt-accent-color) !important; */
    --panel-background: var(--lwt-accent-color) !important;
}

#browser {
        background-image: none !important;
        background-color:  var(--lwt-accent-color) !important;
        opacity: 1 !important;
}

:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
    & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
      box-shadow: 0 0 1px 1px light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
    }
  }

#zen-sidebar-web-panel {
    border: none !important;
    box-shadow: 0 0 1px 1px light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
}
#zen-sidebar-web-header, #zen-sidebar-panels-wrapper {
    border-bottom: 0 !important;
    border-top: 0 !important;
}
