function sys-upgrade
{{ if .is_nixos }}
    nix-upgrade
{{- else if eq .chezmoi.username "nix-on-droid" }}
    nix-on-droid switch --flake ~/nix#default
{{- else }}
    sudo pacman -Syu && paru -Syu
{{- end }}
end
